<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="33665Hanqingzh.80" Publisher="CN=F837BCBE-74F1-4CB1-B652-8C4EA8361D19" Version="1.0.0.0" />
  <Properties>
    <DisplayName>80个悬疑推理故事</DisplayName>
    <PublisherDisplayName>Hanqingzh</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="detective100.App">
      <VisualElements DisplayName="80个悬疑推理故事" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="80个悬疑推理故事" ForegroundText="dark" BackgroundColor="#FFFFFF">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\310-150.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#FFFFFF" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
</Package>